*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#555;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 20px;

}

.row{
    max-width: 1300px;
    margin: 0 auto;
}
.section-featurs{
    padding: 100px 0;
}
header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255,255,255,0.4)), url(../img/fod.jpg);
    background-size: cover;
    height: 100vh;
}

h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 350%;
    font-weight: 300;
    word-spacing: 5px;
}

h2{
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    }

h2::after{
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #10ac84;
    margin: 40px auto 0 auto;
}

h3{
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
}

.text{
    line-height: 145%;
    text-align: center;
    margin: 0 auto 50px auto;
}

.card p{
    font-size: 90%;
    line-height: 1.5;
    width: 90%;
}

.hrro-text-box{
    width: 1140px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 80%;
    border-radius: 5px;
    transition:background-color 0.5s, color 0.5s ;
}
.btn-full:link,
.btn-full:visited{
    background-color: #10ac84;
    margin-left: 30px;
    color: #fff;
    border: 1px solid #10ac84;
}

.btn-full:hover,
.btn-full:active{
    background-color: #0d8d6c;
}

.btn-border:link,
.btn-border:visited{
    border: 1px solid #555;
    color: #555;
}

.btn-border:hover,
.btn-border:active{
    background-color: #0d8d6c;
    color: #fff;
    border: 1px solid #10ac84;
}

.logo{
    width: 60px;
    height: auto;
    float: left;
    margin-top: 20px;
}

.min-nav{
    float: right;
    text-decoration: none;
    margin-top: 40px;
}

.min-nav li{
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: border-bottom .3s;
    border-bottom: 3px solid transparent;
}

.min-nav li:hover{
    border-bottom: 3px solid #10ac84;
}

.min-nav li a{
    text-decoration: none;
    color: #555;
}

.cards{
    display: flex;
}

.card{
    width: 22%;
}
.card ion-icon{
    width: 60px;
    height: 60px;
    fill: #10ac84;
    color: #10ac84;
    margin-bottom: 15px;
}
